body {
  background-color: #0d0d0d;
  color: #fff;
  line-height: 1.5;
  font-size: 1rem;
}

header {
  padding: 0px;
  margin: 0px;
  background-color: #121212;
  color: #60c689;
  padding-bottom: 25px;
}

header img {
  height: 100px;
  background-color: #121212;
  margin-bottom: -10px;
}

header h1 {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 2.5em;
  text-align: center;
  color: #60c689;
  background-color: #121212;
  padding: 0px;
  margin: 0px;
}

header ul {
  display: flex;
  justify-content: center;
}

header li {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 190px;

}

h2 {
  font-size: 1.5rem;
}

table,
th,
td {
  align-items: center;
  border: 2px solid;
  padding: 10px;
  border-color: #2e2e2e;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

th {
  font-size: 1rem;
  font-weight: 400;
  color: #60c689;
}

tr {
  font-size: 0.9rem;
}

tr:nth-child(even) {
  background-color: #121212;
}

tr:hover {
  background-color: #1f1f1f;
  color: #ffb86c;
  font-weight: 700;
}

footer {

  font-size: 1rem;
  text-align: center;
  color: #60c689;
  background-color: #121212;
  font-family: 'Times New Roman', Times, serif
}

body {
  text-align: center;
}

#form fieldset {
  display: inline-block;
  background-color: #60c689;
  margin-top: 3vw;
  margin-bottom: 3vw;
  padding: 15px;
}


#form button:hover {
  color: white;
  background-color: black;
  transition: 1s;
}

#stores {
  margin: auto;
  color: #bd93f9
}